body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
  background-color: #2A2D36;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  align-self: center;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 2rem;
  background-color: #0B0C10;
  position: fixed;
  top: 0;
}
header .logo {
  padding: 0.2rem;
}
header .logo img {
  height: 50px;
}
header .header-title span {
  font-weight: bold;
  display: none;
  justify-content: center;
}
header .logo-container {
  background-color: #303030;
  border: 2px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1rem 1rem;
}
main h1 {
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5rem;
  text-align: center;
}
main .block-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
}
main .block-row .block {
  flex: 1;
  padding: 1rem;
  border-radius: 5px;
  margin: 0.5rem;
  text-align: center;
}
main .block-row .block h3 {
  margin-bottom: 1rem;
  color: #fff;
}
main .third-block {
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem 0;
  text-align: center;
  padding: 1rem;
}
main .third-block h3 {
  color: #fff;
}
main .third-block #content {
  max-width: 100%;
}
main .third-block #content p {
  font-size: 14px;
  opacity: 70%;
}
main .first-block form {
  text-align: left;
  font-size: large;
}
main .first-block form .radio-option {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
main .first-block form .radio-option input[type=radio] {
  appearance: none;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
}
main .first-block form .radio-option input[type=radio]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
main .first-block form .radio-option label {
  color: #9297A3;
  cursor: pointer;
}
main .second-block button {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  width: 8rem;
  border: none;
  cursor: pointer;
  color: #fff;
}
main .second-block button.button-primary {
  background-color: #2A2D36;
  border: 1px solid #fff;
  color: #9297A3;
}
main .second-block button.button-primary:hover {
  background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
  color: #fff;
}
main .second-block button.button-secondary {
  background-color: transparent;
  border: 1px solid #fff;
  color: #9297A3;
}
main .second-block button.button-secondary:hover {
  background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
  color: #fff;
}

footer {
  padding: 1rem;
  background-color: #15161A;
  text-align: center;
  display: inline-flex;
  justify-content: space-between;
  color: #292A31;
  position: relative;
  align-items: center;
}
footer .nabthat-container {
  width: 9rem;
}
footer .sideline-nabthat {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .sideline-nabthat span {
  background: #282930;
  margin: 0 15px;
}
footer .sideline-nabthat:before,
footer .sideline-nabthat:after {
  background: #282930;
  height: 1px;
  flex: 1;
  content: "";
}
footer .footer-animation-border-container {
  padding-left: 2rem;
  position: static;
}
footer .footer-animation-border-container .footer-animation-border {
  outline: solid;
}
footer .footer-animation-border-container .footer-animation-border:hover {
  transition: 0.5s;
  outline: solid #AB8555;
}
footer .footer-animation-border-container .footer-animation {
  font-size: larger;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  transition: transform 0.5s;
}
footer .footer-animation-border-container .footer-animation:hover {
  transition: 0.5s;
  color: #9195A3;
}
footer .button-secondary {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
}
footer #showButton:focus + #footerOptions {
  display: contents;
  animation: slideUp 0.5s ease;
}
footer #footerOptions {
  display: none;
  background-color: #FFFFFF;
  padding: 1rem;
  position: absolute;
  bottom: 100%;
  right: 0;
  padding-right: 2rem;
  transition: all 0.3s ease;
  justify-items: start;
}
footer #footerOptions .button-secondary {
  color: black;
  margin: 0.5rem 0;
  font-weight: bold;
}
footer #footerOptions .button-secondary:hover {
  color: #c78534;
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
footer .arrow {
  border: solid #9297A3;
  border-width: 0 3px 3px 0;
  display: inline-flex;
  padding: 0.3rem;
  margin-left: 0.3rem;
}
footer .up {
  transform: rotate(-135deg);
}
footer .right {
  transform: rotate(-45deg);
}

@media (max-width: 960px) {
  header {
    position: relative;
  }
  header,
  main {
    flex-direction: column;
    align-items: center;
  }
  footer .sideline-nabthat {
    display: none;
  }
  .block-row {
    flex-direction: column;
  }
  .block-row .block {
    max-width: 100%;
    margin: 0.5rem 0;
  }
  .third-block {
    max-width: 100%;
    width: -webkit-fill-available;
  }
}

/*# sourceMappingURL=style.css.map */
